html, body  {
  width: 100%;
  height: 100%;
}
[z] {
  display: none;
}
@font-face {
  font-family: "CodeDemoBold";
  src: url(../fonts/CodeDemo-Bold.otf) format("opentype");
}
@font-face {
  font-family: "CodeDemoLight";
  src: url(../fonts/CodeDemo-Light.otf) format("opentype");
}
@font-face {
  font-family: "PantonNarrowBlack";
  src: url(../fonts/PantonNarrowDemo-Black.otf) format("opentype");
}
@font-face {
  font-family: "PantonNarrowLight";
  src: url(../fonts/PantonNarrowDemo-Light.otf) format("opentype");
}
/* BARRE DE NAVIGATION BEGIN */
@media only screen and (max-width: 500px) {
  #buttonNav {
    display: none;
  }
}
#titre-navigation {
  flex-wrap: nowrap;
}
#titre-navigation label {
  font-size: 125%;
  position: relative;
}
.navbar-toggler img{
  height: 30px !important;
  width: 30px !important;
}
#lists-hidden {
  padding-left: 40px;
  padding-right: 0;
}
#contact-right {
  margin: auto;
}
#projet-list {
  padding-left: 2%;
}
.fixed-top nav {
  max-width: 100% !important;
}
/* BARRE DE NAVIGATION END */
/* ACCUEIL BEGIN*/
#header {
  height: 100%;
  width: 100%;
  background-image: url('../img/accueil.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
/* ACCUEIL END*/
/* COMPTETENCES BEGIN*/
#competences {
  height: auto;
  min-height: 500px;
  background: #f0f0f0;
  border-top: 15px solid #343a40;
}
#competences .card-title img {
  height: 80px;
  width: 80px;
  margin-right: 5%;
}
#competences .card-title {
  font-size: 140%;
  font-weight: bolder;
}
/* COMPTETENCES END*/
/* PROJET BEGIN*/
#projet {
  height: auto;
  background: #484848;
  border-top: 5px solid #343a40;
}
#projet h1 {
  padding-top: 5%;
  padding-bottom: 5%;
}
#projet .card-header {
  font-weight: bolder;
}
#competences .card-footer span {
  padding: 100%;
}
.card-border-width {
  border-width: 5px;
}
/* PROJET END*/
/* CONTACT BEGIN*/
#contact {
  height: 1000px;
  background: #f0f0f0;
  border-top: 5px solid #343a40;
}
/* CONTACT END*/
